/** @format */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
li {
  list-style: none;
  font-size: 1.3rem;
}
.list a {
  display: block;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: white;
}
.list a:hover {
  transition: all 0.2s;
  background-color: #eb5e28;
}
.navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 7vh;
  background-color: #252422;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.767);
}
.list {
  width: 20vw;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: space-around;
}
.about {
  min-height: 100vh;
  background: linear-gradient(
    225deg,
    #403d39,
    #4c4843,
    #56524d,
    #615c56,
    #827b73
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 0rem;
}
.presentation-box {
  width: 70vw;
  background-color: #403d3975;
  border-radius: 12px;
  padding: 12rem 3rem;
  color: #eb7a4e;
  font-size: 2.5rem;
  text-align: center;
  box-shadow: 2px 1px #161413;
}
.presentation-box p {
  margin-top: 3rem;
  font-size: 1.7rem;
  text-align: justify;
  color: white;
}
.skills {
  width: 70vw;
  text-align: start;
  margin: 1rem 0;
  padding: 1rem 3rem;
  font-size: 1.3rem;
}
.skills h2 {
  color: #eb7a4e;
}
.skills p {
  color: white;
  margin-bottom: 0.5rem;
}
.skills li {
  font-size: 1rem;
  list-style: square;
  color: white;
  line-height: 1.9;
  font-size: 1.2rem;
}
.tools {
  width: 70vw;
  text-align: start;
  padding: 1rem 3rem;
  font-size: 1.3rem;
}
.tools h2 {
  color: #eb7a4e;
}
.tools li {
  list-style: square;
  color: white;
  line-height: 1.9;
  font-size: 1.2rem;
}
.certificates {
  width: 70vw;
  text-align: start;
  padding: 1rem 3rem;
  font-size: 1.3rem;
}
.certificates h2 {
  color: #eb7a4e;
}
.certificates li {
  font-size: 1rem;
  list-style: square;
  color: white;
  line-height: 1.9;
  font-size: 1.2rem;
}
.certificates a {
  text-decoration: underline;
  color: blue;
}
.projects {
  min-height: 100vh;
  background-color: #eb5e28;
  padding: 4rem 0px;
  text-align: center;
}
.projects h1 {
  color: white;
}
.underline {
  height: 0.2rem;
  width: 20rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.projects-table {
  /* background-color: red; */
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  row-gap: 1rem;
  column-gap: 0rem;
  padding: 2rem;
}
/* .projects-table img {
  width: 100%;
  height: 23rem;
  border-radius: 1rem;
} */
.crop {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 23rem;
  width: 25rem;
}

.crop img {
  /* display: block; */
  height: 100%;
  transition: transform 0.2s linear;
  /* border-radius: 1rem; */
  cursor: pointer;
  z-index: 1;
}
.tirita-info {
  display: flex;
  background-color: #ef8257;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 4;
  height: 10%;
  width: 100%;
  align-self: flex-end;
}
.crop img:hover {
  transform: scale(1.1);
}

.allProjects {
  width: 13rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 10px;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #ef8257;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}
.allProjects:hover {
  background-color: #4b1a07;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  background-color: #fffcf2;
}

.socials {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  color: black;
}

.socials a {
  text-emphasis: none;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
}
.socials p {
  margin-left: 1rem;
}
.socials li:hover {
  transform: translate3d(5px, -5px, 0px);
  transition: all 0.2s linear;
}
.h1grande {
  color: black;
  font-weight: bold;
  font-size: 4rem;
}
.h3grande {
  font-style: italic;
  font-size: 1.5rem;
  color: black;
}
.copyR {
  position: relative;
  bottom: -20vh;
  color: #eb5e28;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 1rem;
  align-self: flex-end;
}
@media screen and (max-width: 800px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 2rem;
  }
  .navbar {
    display: none;
  }
  .about {
    padding: 2rem 0;
  }
  .presentation-box {
    width: 90vw;
    font-size: 1rem;
    padding: 1rem;
  }
  .presentation-box p {
    font-size: 1.2rem;
    line-height: 1.9;
  }
  .skills {
    padding: 0rem 2rem;
    width: 100%;
    font-size: 1rem;
  }
  .skills p {
    font-size: 1.2rem;
    line-height: 1.9;
  }
  .skills li {
    margin-left: 2.5rem;
  }
  .tools {
    padding: 0rem 2rem;
    width: 100%;
    font-size: 1rem;
  }
  .tools li {
    margin-left: 2.5rem;
  }
  .certificates {
    padding: 0rem 2rem;
    width: 100%;
    font-size: 1rem;
  }
  .certificates li {
    margin-left: 2.5rem;
  }
  .projects-table {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .crop {
    width: 90vw;
  }
  .socials {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 2rem;
  }
  .socials li a {
    font-size: 1.4rem;
    padding: 0;
  }
  .h1grande {
    font-size: 2rem;
  }
  .copyR h5 {
    font-size: 0.8rem;
  }
} ;
